html, body {
    width: 100%;
    height: 100%; 
    margin: 0; 
}

div, input, textarea {
    box-sizing: border-box;
}

input {
    outline: none;
}

input:focus {
    border: 2px solid rgb(155, 207, 96);
}

.Banner {
    display: flex;
    background-color: rgb(155, 207, 96);
    width: 100%;
    height: 150px;
    justify-content: space-between;
}

.input-container {
    display: flex;
    width: 20%;
    height: 100%;
    text-align: left;
}

#loginForm {
    position: relative;
    width: 70%;
    margin: 20PX;
    font-size: 10PX;
}

#login-username {
    width: 100%;
}

#login-password {
    width: 100%;
}

.toggle-link {
    display: inline-block;
    margin-right: 10px;
}

.contactus {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 1000;
    color: azure;
    font-style: normal;
    margin-top: 1%;
    margin-left: 15%;
    transform: scaleX(1.5);
    cursor: pointer;
}

.contactus-box {
    display: none;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 5px 3px rgb(238, 236, 236);
    border-radius: 5px;
    text-align: left;
    z-index: 10;
}

.contactus-box h1 {
    margin: 40px 0px 40px 30px;
}

.contactus-box .x-button {
    position: relative;
    top: -100px;
    margin-right: 30px;
}

.contactus-box input {
  margin-top: 15px;
  padding: 5px;
}

.contactus-box textarea {
    margin-top: 15px;
    padding: 5px;
  }

.contactus-input-container {
    display: inline-block;
    width: 80%;
    height: 15%;
    text-align: left;
}

#emailform {
    width: 20%;
    margin: 0px 0px 0px 30px;
    font-size: 12PX;
}

#nameform {
    display: flex;
    width: 4%;
    margin: 0px 0px 0px 30px;
    font-size: 12PX;
}

.input-group {
  margin-right: 10px; 
}

#messageform {
    width: 100%;
    margin: 0px 0px 0px 30px;
    font-size: 12PX;
}

#message {
    width: 100%;
    height: 100%;
}

#sendform {
    width: 100%;
    margin: 0px 0px 0px 30px;
    font-size: 12PX;
}

.button-send {
    position: relative;
    background-color: rgb(216, 181, 23);
    color: white;
    width: 15%;
    height: 20%;
    border: none;
    border-radius: 5%;
    padding: 5px;
    left: 280px;
}

.Banner-container {
    display: flex;
    width: 70%;
    height: 100%;
    text-align: cover;
    align-items: center;
}

.Banner-image {
    width: 100px;
    height: 100px;
    background-image: url(ddak.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin-right: 3%;
}

.developer-profile {
    background-color: rgb(243, 245, 241);
    padding: 20px;
    color: rgb(3, 3, 3);
    border-radius: 5px;
    display: none; 
    position: absolute; 
    top: 21%; 
    left: 23%; 
    transform: translate(-50%, -50%); 
    z-index: 1000;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.developer-profile p {
    margin: 0;
}

.x-button {
    float: right;
    background-color: rgb(243, 245, 241);
}

.Banner-text {
    text-align: center;
    font-size: 60px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 1000;
    color: azure;
    font-style: normal;
    margin-top: 1%;
}

@media (max-width: 1000px) {
    .Banner-text  {
        font-size: 40px;
    }
}

.navbar {
    display: inline-block;
    width: 80%;
    height: 100%;
}

.navbar li {
    width: 15%;
    display: inline-block;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 1000;
}

.navbar a, .navbar p {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: azure;
    margin: 0;
}

.shopcart {
    display: none;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(111, 162, 230);
    border-radius: 10px;
    z-index: 10;
    padding: 30px;    
    flex-direction: column;       
    align-items: flex-start 
}

.shopcart h1 {
    vertical-align: middle;
    color: rgb(26, 26, 104);
    font-size: 20px;
}

.shopcart a {
    color: rgb(26, 26, 104);
    font-size: 14px;
    font-weight: bold;
}

.shopcart-top{
    margin-left: 5%;
}

.shopcart-bottom{
    display: block;
    margin-left: 5%;    
}

.button-paymentmethod {
    position: relative;
    padding: 20px;
    background-color: rgb(37, 37, 117);
    color: white;
    border-radius: 5%;
    border: none;
    left: 45%;
}

.cart-box {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    height: 60%;
    padding: 0;
    margin: 20px auto;
}

.cart-box table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #c2d3de;
    padding: 15px;
}

.cart-box table tbody tr {
    color: rgb(138, 147, 231); /* 기본 색상 설정 */
    font-weight: normal; /* 기본적으로 일반 굵기 설정 */
    text-align: right; 
    font-size: 12px;
}

.cart-box table tbody tr:first-child td {
    font-weight: bold; 
}

.cart-box table tbody td:nth-child(2){
   width: 100px;
}

.cart-box table tbody td:nth-child(5){
    color: rgb(18, 30, 139); 
    font-weight: bold; 
    text-align: right;
}

.cart-box table tbody tr:last-child td {
    color: rgb(18, 30, 139);
    font-weight: bold; 
    text-align: right;
}

.weatherbar {
    display: inline-block;
    width: 20%;
    height: 70%;
    color: white;
}

.weatherbar dd {
    margin: 7%;
    font-family: "Nanum Pen Script", cursive;
    font-size: 110%;
}

.weather-icon {
    width: 10%; /* 원하는 크기로 조정 */
    height: 10%; /* 원하는 크기로 조정 */

}

.Button-container {
    position: relative;
    width: 15%;
    height: 100%;
    text-align: right;
}
.Button-container a {
    text-decoration: none;
}

.Button-container label {
    right: 50px;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    color: white;
    font-size: 20px;
  }


.Button-container [type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
  }

 .Button-container [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
  }

.Button-container [type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
  }
  
.Button-container [type="checkbox"]:checked {
    background-color: tomato;
    border-color: tomato;
  }

.Button-container  [type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  }

.button_chim, .button_chzzk {
    display: inline-block;
    width: calc(50% - 5px); 
    height: 50%;
    border: 5px solid;
    border-radius: 20%;
    color: white;
    padding: 0px 10px;
    box-shadow: 8px 5px black;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px; 
}

@media (max-width: 1000px) {
    .button_chim, 
    .button_chzzk {
        font-size: 10px; 
    }
}

.button_chim {
    background-color: red; 
}

.button_chzzk {
    background-color: green;
}

.button_chim:hover {
    background-color: darkred;
}

.button_chzzk:hover {
    background-color: darkgreen;
}

.left-menu {
    width: 40%;
    height: 100%;
    float: left;
}

.container-inline_block {
    display: inline-block;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 3px rgb(238, 236, 236);
    border-radius: 5px;
    width: 60%;
    height: auto;
    margin: 3%;
}

.kakao_profile {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("profile.jpg");
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    margin: 8px;
}

.Review-Board {
    margin: 30px 0 0 15px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-style: normal;
} 
.User-name {
    font-size: 12px;
    margin: 10px 0 0; 
}

.time-stamp {
    font-size: 8px;
    margin: 2px 0 0; 
}

.Review-Title {
    font-size: 70%; 
    margin: -5px 0 0 15px;
}

.Review-text {
    font-size: 55%; 
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.characterBox {
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: white;
    box-shadow: 5px 3px rgb(238, 236, 236);
    border-radius: 5px;
    width: 30%;
    min-width: 200PX;
    margin: 3%;
    padding: 3%; /* 안쪽 여백 추가 */
    display: inline-block; /* 내용에 맞게 크기 조정 */
    height: auto; /* 자동 높이 조정 */
    overflow: hidden; /* 내부 내용으로 높이 조정 */
}

.equipmentBox {
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: white;
    box-shadow: 5px 3px rgb(238, 236, 236);
    border-radius: 5px;
    width: 30%;
    min-width: 200PX;
    margin: 3%;
    padding: 15px; 
    display: none; 
    height: auto; 
    max-height: 420px;
    overflow-y: scroll; 
    overflow-x: hidden; 
}

@media (max-width: 1000px) {
    .characterBox,
    .equipmentBox {
        width: 15%;
    }
}

.right-menu {
    width: 60%;
    height: 100%;
    float: left;
}

.container-youtube {
    width: 100%;
    height: 30%;
    margin: 0;
}

.container-lol {
    width: 100%;
    height: 30%;
    margin: 0;
}

.alert-box {
    background-color: #e7e7e7; 
    color: #c70f0f; 
    display: none; 
    width: 100px; 
    height: 100px; 
    padding: 10px; 
    border: none;
    border-radius: 5px; 
    position: absolute; 
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    top: 95%;
}

.button-container {
    width: 100%;
    margin-top: 10px; 
}


.right-menu h1 {
    margin: 30px 0 0 15px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.thumbnail_1 {
    display: inline-block;
    width: 25%; 
    height: 70%; 
    background-size: cover; 
    background-position: center; 
    border-radius: 30%; 
    background-image: url(https://img.youtube.com/vi/lyUa0ZU_4Qk/hqdefault.jpg);
    text-decoration: none; 
    margin-right: 1%; 
}

.thumbnail_2 {
    display: inline-block;
    width: 25%; 
    height: 70%; 
    background-size: cover; 
    background-position: center; 
    border-radius: 30%; 
    background-image: url(https://img.youtube.com/vi/j4g8HhbiPc0/hqdefault.jpg);
    text-decoration: none; 
    margin-right: 1%; 
}

.thumbnail_3 {
    display: inline-block;
    width: 25%; 
    height: 70%; 
    background-size: cover; 
    background-position: center; 
    border-radius: 30%; 
    background-image: url(https://img.youtube.com/vi/foKiP7CmlTo/hqdefault.jpg);
    text-decoration: none; 
    margin-right: 1%; 
}

.game-container {
    display: flex;
    width: 100%;
}

.mini-game {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.chindle {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .chindle h1 {
        font-size: 50px;
    }
    .text {
        width: 100px;
        height: 100px;
        font-size: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    .rulebook {
        right: 5%;
        bottom: 25%;
    }
}

.rulebook {
    position: absolute;
    bottom: 70%;
    right: 50%;
    width: 300px;
    height: auto;
    margin-left: 20px;
    background-color: azure;
    padding: 10px;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}   


.game {
    
    display: flex;
    align-items: center;
    gap: 15px; /* 버튼과 남은 횟수 사이 간격 조정 */
    margin-bottom: 10px; /* 아래 입력 칸과의 간격 */
}

.rule-container p {
   display: inline-block;
}

.mini-game-rule {
    display: inline-block;
    margin-left: 10px;
    padding: 5 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(155, 207, 96);
    color: white;
    cursor: pointer;
}

.mini-game-rule:hover {
    background-color: rgb(78, 107, 60);
}

.text {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.correct {
    background-color: green; /* 해당 글자와 일치 */
}
.partially_correct_1 {
    background-color: pink; /* 자음과 모음 중 2개 이상 일치하고 첫 자음도 일치 */
}
.partially_correct_2 {
    background-color: skyblue; /* 자음과 모음 중 2개 이상 일치하지만 첫 자음은 일치하지 않음 */
}
.one_match {
    background-color: purple; /* 자음과 모음 중 하나만 있음 */
}
.wrong {
    background-color: red; /* 두 글자 모두에서 일치하는 자음과 모음이 없음 */
}

@media (max-width: 1000px) {
    @media (orientation: portrait) {
        .thumbnail_1,
        .thumbnail_2,
        .thumbnail_3 {
            height: 30%;
        }
    }

    @media (orientation: landscape) {
        .thumbnail_1,
        .thumbnail_2,
        .thumbnail_3 {
            height: 50%;
        }
    }
}

.show {
    display: block; 
}

.fadein {
    visibility: visible;
    opacity: 1;
}


