html, body {
    width: 100%;
    height: 100%; 
    margin: 0; 
}

.Banner {
    display: flex;
    background-color: rgb(155, 207, 96);
    width: 100%;
    height: 150px;
    justify-content: space-between;
}

.login-container {
    display: flex;
    width: 20%;
    height: 100%;
    text-align: left;
}

#loginForm {
    position: relative;
    width: 70%;
    margin: 20PX;
    font-size: 10PX;
}

#login-username {
    width: 100%;
}

#login-password {
    width: 100%;
}

.Banner-container {
    display: flex;
    width: 70%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.Banner-image {
    width: 100px;
    height: 100px;
    background-image: url(ddak.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin-right: 3%;
}

.alert-box {
    background-color: rgb(243, 245, 241);
    padding: 20px;
    color: rgb(3, 3, 3);
    border-radius: 5px;
    display: none; 
    position: absolute; 
    top: 21%; 
    left: 23%; 
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 1000;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.alert-box p {
    margin: 0;
}

.x-button {
    float: right;
    background-color: rgb(243, 245, 241);
}

.Banner-text {
    text-align: center;
    font-size: 60px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 1000;
    color: azure;
    font-style: normal;
    margin-top: 1%;
}

@media (max-width: 1000px) {
    .Banner-text  {
        font-size: 40px;
    }
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
}
.navbar li {
    width: 20%;
    display: inline-block;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 1000;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: azure;
}

.Button-container {
    width: 10%;
    height: 100%;
    text-align: right;
    
}
.Button-container a {
    text-decoration: none;
}

.button_chim, .button_chzzk {
    display: inline-block;
    width: calc(50% - 5px); 
    height: 50%;
    border: 5px solid;
    border-radius: 20%;
    color: white;
    padding: 0px 10px;
    box-shadow: 8px 5px black;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px; 
}

@media (max-width: 1000px) {
    .button_chim, 
    .button_chzzk {
        font-size: 10px; 
    }
}

.button_chim {
    background-color: red; 
}

.button_chzzk {
    background-color: green;
}

.button_chim:hover {
    background-color: darkred;
}

.button_chzzk:hover {
    background-color: darkgreen;
}

.left-menu {
    width: 40%;
    height: 100%;
    float: left;
}

.right-menu {
    width: 60%;
    height: 100%;
    float: left;
}

.container-inline_block {
    display: inline-block;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 3px rgb(238, 236, 236);
    border-radius: 5px;
    width: 60%;
    height: auto;
    margin: 3%;
}

.kakao_profile {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("profile.jpg");
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    margin: 8px;
}

.Review-Board {
    margin: 30px 0 0 15px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-style: normal;
} 
.User-name {
    font-size: 12px;
    margin: 10px 0 0; 
}

.time-stamp {
    font-size: 8px;
    margin: 2px 0 0; 
}

.Review-Title {
    font-size: 70%; 
    margin: -5px 0 0 15px;
}

.Review-text {
    font-size: 55%; 
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.button-container {
    display: flex; 
    margin-top: 10px; 
}

.toggle-link {
    display: block;
    margin-right: 10px;
}

.Video_Week {
    margin: 30px 0 0 15px;
    font-size: 30px;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.thumbnail_1 {
    display: inline-block;
    width: 30%; 
    height: 30%; 
    background-size: cover; 
    background-position: center; 
    border-radius: 30%; 
    background-image: url(https://img.youtube.com/vi/lyUa0ZU_4Qk/hqdefault.jpg);
    text-decoration: none; 
    margin-right: 1%; 
}

.thumbnail_2 {
    display: inline-block;
    width: 30%; 
    height: 30%; 
    background-size: cover; 
    background-position: center; 
    border-radius: 30%; 
    background-image: url(https://img.youtube.com/vi/j4g8HhbiPc0/hqdefault.jpg);
    text-decoration: none; 
    margin-right: 1%; 
}

.thumbnail_3 {
    display: inline-block;
    width: 30%; 
    height: 30%; 
    background-size: cover; 
    background-position: center; 
    border-radius: 30%; 
    background-image: url(https://img.youtube.com/vi/foKiP7CmlTo/hqdefault.jpg);
    text-decoration: none; 
    margin-right: 1%; 
}

@media (max-width: 1000px) {
    @media (orientation: portrait) {
        .thumbnail_1,
        .thumbnail_2,
        .thumbnail_3 {
            height: 15%;
        }
    }

    @media (orientation: landscape) {
        .thumbnail_1,
        .thumbnail_2,
        .thumbnail_3 {
            height: 30%;
        }
    }
}

